@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent-color: #0066CC;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent-color: #0066CC;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  /* background: var(--background); */
   background-color: #d2a679;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 100px 30px rgba(0, 0, 0, 0.4);
  pointer-events: none; /* Allows you to click through the overlay */
  z-index: 999;
}